body {
  background-color: thistle;
  border: 2px solid gray;
  border-radius: 16px;
  font-family: sans-serif;
  margin-left:auto;
  margin-right:auto; 
  max-width: 80%;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: url('images/cursor.cur'), auto;
}

html{
  background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  background-size: 64px 64px;
}
h1 {
  color:purple;
}

::selection {
  background: #00d9ff; /* WebKit/Blink Browsers */
  color: rgb(47, 0, 255);
}

.version {
  position: fixed;
  bottom: 0;
}
nav ul {
  list-style-type  :none;
  background-color: #B577B5;
  border: 4px solid #111111;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 16px;
}
nav ul li {
  display:inline;
  border-right: 2px solid #111111;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a{
  text-decoration: none;
  color: #111111;
}